#welcomediv{
	background-color: salmon;
	color: black;
	
}

body{
	font-family: Arial, Helvetica, sans-serif;
	background-color: darkmagenta;
	color: lightskyblue;
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
  
}

th{
	text-align: center;
}

th, td{
	padding: 15px;
}

td:hover {
	background-color: lightskyblue;
	color: darkmagenta;
}

th {
  background-color: #ffe6ff;
  color: darkmagenta;
}

.ok {
	background-color: lightsalmon;
  	border: none;
  	color: white;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
}