#welcomediv{
	background-color: lightsalmon;
	color: black;
	font-size: large;
    padding: 5% 5% 5% 5%;
}

h1{
	text-align: center;
}

body{
	font-family: Helvetica, sans-serif;
    background-color: darkmagenta;
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
  
}

th{
	text-align: center;
}

th, td{
	padding: 15px;
}

.row:hover {
	background-color: lightskyblue;
	color: darkmagenta;
}

th {
  background-color: #ffe6ff;
  color: darkmagenta;
}

.ok {
	background-color: lightsalmon;
  	border: none;
  	color: black;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
}
#wrapperdiv{
 position: absolute;
 top: 0;
 left: 0;
 background-color: darkmagenta;
 color: lightskyblue;
}

#studentsdiv{
 padding: 0% 5% 0% 5%;
 }
 
#updateDeleteStudentsForm{
	display: none;
}

#updateDeleteFacultiesForm{
	display: none;
}

#tableStudents{
	display: none;
}

#tableFaculties{
	display: none;
}

#myStudentButtons{
	display: none;
}

#myFacultyButtons{
	display: none;
}