<!DOCTYPE html>
<html>
<head lang="en">
<meta charset="UTF-8" />
<meta name="_csrf" content="${_csrf.token}"/>
<meta name="_csrf_header" content="${_csrf.headerName}"/>
<title>Proiect DAW Butunoiu Oana Mihaela</title>
<link rel="stylesheet" href="/main.css" />

</head>
<body>

	<div id = "wrapperdiv">
	<div id="welcomediv">
		<h1>WELCOME</h1>
		<p>Is allowance instantly strangers applauded discourse so.
			Separate entrance welcomed sensible laughing why one moderate shy. We
			seeing piqued garden he. As in merry at forth least ye stood. And
			cold sons yet with. Delivered middleton therefore me at. Attachment
			companions man way excellence how her pianoforte.</p>
	</div>
	<div id="studentsdiv">
		<h2>OUR UNIVERSITY</h2>
		<br /> <br />
		<div id="react"></div>
		
	</div>

</div>
	

	<script src="built/bundle.js"></script>
</body>

</html>